<%= form_for(@server) do |f| %>
  <% if @server.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@server.errors.count, "error") %> prohibited this server from being saved:</h2>

      <ul>
      <% @server.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table border=0 cellspacing=0 width=100%>
  <tr>
    <td>
     <%= f.label :test_server, "Test Server" %><br />
     <%= f.check_box :test_server %>
    </td>
    <td>
     <%= f.label :test_server, "VM Server" %><br />
     <%= f.check_box :vm_server %>
    </td>
    <td colspan=2>
    </td>
  </tr>

  <tr>
    <td class="form base_info">
      <div class="field">
        <%= f.label :ip, "IP Address" %><br />
        <%= f.text_field :ip %>
      </div>
    </td>

    <td class="form base_info">
      <div class="field">
        <%= f.label :location, "Physical Location" %><br />
        <%= f.text_field :location %>
      </div>
    </td>

    <td class="form base_info">
      <div class="field">
        <%= f.label :function, "Server Function and Installed Applications" %><br />
        <%= f.text_field :function %>
      </div>
    </td>
    <td class="form base_info">
      <div class="field">
        <%= f.label :dependencies, "Dependencies (Relationships With Other Servers)" %><br />
        <%= f.text_field :dependencies %>
      </div>
    </td>
  </tr>

  <tr>
    <td colspan=3 class="form header">
      Software Information
    </td>
    <td class="form">
      
    </td>
  </tr>

  <tr>
    <td class="form sw_info">
      <div class="field">
        <%= f.label :osver, "Operating System" %><br />
        <%= f.text_field :osver %>
      </div>
    </td>

    <td class="form sw_info">
      <div class="field">
        <%= f.label :sqlver, "SQL Server Version" %><br />
        <%= f.text_field :sqlver %>
      </div>
    </td>
    <td>
      <div class="field">

      </div>
    </td>
    <td class="form other_info">
      <div class="field">
        <%= f.label :wsus_date, "Last WSUS Update" %><br />
        <%= f.text_field :wsus_date, :id => "wsus_date" %>
      </div>
    </td>

  </tr>

  <tr>
    <td colspan=4 class="form header">
      Hardware Information
    </td>
  </tr>

  <tr>
    <td class="form hw_info upper">
      <div class="field">
        <%= f.label :hw_ram, "Amount of RAM" %><br />
        <%= f.text_field :hw_ram %>
      </div>
    </td>
    <td class="form hw_info">
      <div class="field">
        <%= f.label :hw_cpu, "CPU" %><br />
        <%= f.text_field :hw_cpu %>
      </div>
    </td>
    <td class="form hw_info">
      <div class="field">
        <%= f.label :hw_serial, "Server Serial Number" %><br />
        <%= f.text_field :hw_serial %>
      </div>
    </td>
    <td class="form hw_info">
      <div class="field">
        <%= f.label :hw_drivecap, "Hard Drive Capacity" %><br />
        <%= f.text_field :hw_drivecap %>
      </div>
    </td>
  </tr>
  <tr>
    <td class="form hw_info lower">
      <div class="field">
        <%= f.label :assetno, "HWDB Asset Number" %><br />
        <%= f.text_field :assetno, :size => 6 %>
      </div>
    </td>
    <td colspan=3>
    </td>
  </tr>

  <tr>
    <td colspan=4 class="form header">
      Employees
    </td>
  </tr>
  <tr>
    <td colspan=2 class="form emp_info">
      <div class="field">
        <%= f.label :supported_by, "Physical Server Supported By" %><br />
        <%= f.text_field :supported_by %>
      </div>
    </td>
    <td colspan=2 class="form emp_info">
      <div class="field">
        <%= f.label :authenticated, "Additional Users Authenticated To This Server (C.R.A.I.G. username, comma-separated)" %><br />
        <%= f.text_field :authenticated %>
      </div>
    </td>
   </tr>

  <tr>
    <td colspan=2 class="form header">
      <%= f.label :rebootinstruct, "Reboot Instructions" %>
    </td>
    <td colspan=2 class="form header">
      <%= f.label :cryptinfo, "Encrypted Information (Displayed to Authenticated Users on this Server Only)" %><br />
    </td>

  </tr>
  <tr>
    <td colspan=2>
      <div class="field">
        <%= f.text_area :rebootinstruct, :rows =>30, :cols =>60 %>
      </div>
    </td>
    <td colspan=2 valign=top>
      <div class="field">
	<% if @auth_this_server == true %>
          <%= f.text_area :cryptinfo, :rows =>30, :cols =>60, :class => "sensitive" %>
	<% else %>
	  <font color=#ff0000><b>You are not currently authorized to edit this information.</b></font>
        <% end %>
      </div>
    </td>
   </tr>
  </table>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
