<p id="notice"><%= notice %></p>

<table class="list">
  <tr class="list_header">
    <th width="15%">Name</th>
    <th width="10%">IP</th>
    <th>Function</th>
    <% if user_signed_in? %>
	    <th width="10%"> Privileges </th>
    <% end %>
  </tr>

<% @servers.each do |server| %>
  <tr class="<%= cycle("even", "odd") %><% if server.test_server == 1 %> test<% end %>">
    <td><%= link_to server.name, server %>
      <% if server.test_server ==1 %> (Test)<% end %>
      <% if server.vm_server ==1 %> (VM)<% end %>
    </td>
    <td><%= link_to server.ip, server %></td>
    <td><%= server.function %></td>
    <% if user_signed_in? %>
        <td class="controls">
	<% if user_signed_in? and (server.authenticated.to_s.include? current_user.username) %>

  	      <%= link_to 'Edit', edit_server_path(server) %> |
	      <%= link_to 'Delete', server, confirm: 'Are you sure you want to delete this server? ' + server.name, method: :delete %>

	<% end %>
	 
        </td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<% if user_signed_in? and current_user["admin"].eql?("true") %>
	<%= link_to 'Create New Server', new_server_path %>
<% end %>
