<p id="notice"><%= notice %></p>

<table class="list">
  <tr class="list_header">
    <th>Name</th>
    <th width="25%">Location</th>
    <th>Function</th>
    <% if user_signed_in? %>
	    <th> Privileges </th>
    <% end %>
  </tr>

<% @servers.each do |server| %>
  <tr class="<%= cycle("even", "odd") %>">
    <td><%= link_to server.name, server %></td>
    <td><%= link_to server.location, server %></td>
    <td><%= server.function %></td>
    <% if user_signed_in? %>
        <td class="controls">
	<% if user_signed_in? and (server.authenticated.to_s.include? current_user.username) %>

  	      <%= link_to 'Edit', edit_server_path(server) %> |
	      <%= link_to 'Delete', server, confirm: 'Are you sure you want to delete this server? ' + server.name, method: :delete %>

	<% end %>
	 
        </td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<% if user_signed_in? %>
	<%= link_to 'Create New Server', new_server_path %>
<% end %>
